.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.register-input {
    margin: 10px 0;
    width: 300px;
}

.register-button {
    margin-top: 20px;
    width: 150px;
    background-color: yellow;
}
