.dashboard-card {
    margin: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.dashboard-button {
    background-color: aqua !important;
    margin: 10px !important;
}