.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-input {
    margin: 10px 5px !important;
    width: 300px;
}

.login-button {
    margin-top: 40px !important;
    width: 90px !important;
    background-color: yellowgreen !important;
}

.login-redirect {
    margin: 10px !important;
}

.sign-up-button{
    text-decoration: none;
    margin: 10px;
}